:root{
    --mycolor: #03AED2;
}

@font-face {
    font-family: Dela;
    src: url(../files/DelaGothicOne-Regular.ttf);
}

a{
    color: black;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

#title{
    font-family: Dela;
    font-size: 2.5vw;
    width: 75%;
}

#main{
    width: 100%;
    height: 100%;
    margin: 5vw;
}

